body {
    font-size: 14px;
    color: #666;
}

.banner {
    position: relative;
}

.banner img {
    width: 100%;
    display: block;
}

a, p {
    color: #444;
}

.color-white {
    color: #fff;
}
.mui-bar {
    background-color: #00853D;
}

.mui-bar .mui-title, .mui-bar .mui-icon, .mui-bar .mui-icon:active {
    color: #fff;
}

.wrap-flex {
    display: flex;
    padding: 10px;
    background: #fff;

}

.flex-item {
    flex: 1;
    display: block;
}

.icon {
    display: inline-block;
    vertical-align: middle;
}

.index-link {
    border-bottom: 1px solid #EAEAEA;
}

.index-link .icon {
    width: 25px;
    height: 30px;
    margin: 5px 0;
}

.icon-maps {
    background: url(../image/icon-maps.png) no-repeat;
    background-size: 25px 30px;
}

.icon-time {
    background: url(../image/icon-time.png) no-repeat;
    background-size: 25px 29px;
}

.icon-store {
    background: url(../image/icon-store.png) no-repeat;
    background-size: 25px 28px;
}

.icon-gl {
    background: url(../image/icon-gl.png) no-repeat;
    background-size: 22px 24px;
}

.icon-sort {
    background: url(../image/icon-sort.png) no-repeat;
    background-size: 24px 24px;
}

.btn-dk {
    background: linear-gradient(to right, #FF7E0C, #FF3652);
    padding: 2px 10px;
    border-radius: 5px;
    color: #fff;
}

.title {
    color: #18B653;
    font-size: 16px;
}

.img-photo {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    vertical-align: middle;
}

.mui-media-object.img-photo {
    height: 24px;
}

.news.mui-table-view:before, .news .mui-table-view-cell:after, .news.mui-table-view:after {
    background: #fff;
}

.pro-list li {
    float: left;
    width: 50%;
    margin-bottom: 10px;
}

.pro-list {
    padding: 10px 0 10px 10px;
}

.pro-list li a {
    display: block;
    margin-right: 10px;
}

.pro-list li a img {
    width: 100%;
    max-width: 100%;
    height: 90px;
    border-radius: 5px;
}

.pro-list li a .name {
    width: calc(100% - 80px);
    width: -webkit-calc(100% - 60px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}

.mui-slider .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
    border-bottom: 2px solid #18B653;
    color: #18B653;
}

.integral-top {
    position: absolute;
    right: 0;
    top: 0;
    color: #323232;
    padding: 10px;
    background: #ffd92c;
    border-bottom-left-radius: 15px;
}

.integral-top.new {
    left: 0;
    right: auto;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 15px;
    padding: 6px 10px;
}
.integral-top p {
    margin: 0;
}

.integral {
    position: absolute;
    top: 5px;
    left: 10px;
}

.integral img {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: relative;
    z-index: 1;
}

.integral span {
    background: #fff;
    border-radius: 15px;
    padding: 2px 15px;
    display: inline-block;
    margin-left: -13px;
    z-index: -1;
}

.btn {
    border-radius: 5px;
    padding: 8px 15px;
    display: inline-block;
    border: none;
}

.btn-primary {
    background: #00853D;
    color: #fff;
}

.btn-default {
    background: #EBEBEB;
}

.map-btn-box {
    position: absolute;
    width: 100%;
    z-index: 99;
    top: 54px;
}
.line-box {
    position: absolute;
    bottom: -1px;
    width: 100%;
    left: 0;
}

.line-box .mui-table-view {
    background-color: #fff;
    border-top-left-radius: 25px;
    -moz-box-shadow: 2px -1px 5px #969696;
    -webkit-box-shadow: 2px -1px 5px #ddd;
    box-shadow: 2px -1px 2px #ddd;
    border-top-right-radius: 25px;
    border-top: 1px solid #F2F2F2;
}

.line-box .mui-table-view-cell > a:not(.mui-btn) {
    font-size: 16px;
    border-bottom: 1px solid #f2f2f2;
    font-weight: bold;
}

.line-box .mui-table-view:before, .line-box .mui-table-view-cell.mui-active {
    background-color: transparent;
}
.line-box .mui-navigate-right:after, .mui-push-right:after {
    font-size: 20px;
    content: '\e581';
}
.line-box .mui-collapse-content {
    max-height: 200px;
    overflow: auto !important;
    padding-top: 10px;
}
.rules {
    position: absolute;
}

.punch-box {
    background: url(../image/map-bg.png) no-repeat;
    min-height: 200px;
    color: #fff;
    padding: 10px;
    background-size: cover;
}

.punch-box p {
    color: #fff;
}

.sao-btn {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5) url(../image/icon-code.png) no-repeat center center;
    background-size: 46px 46px;
    display: inline-block;
    margin-top: 35px;
}

.flex-v {
    justify-content: center;
    align-items: center;
}

.photo-list {
    margin: 0 0 0px 10px;
}

.photo-list li {
    float: left;
    width: 33.33%;
}

.photo-list li div {
    margin: 0 10px 0 0;
}

.photo-list li img {
    width: 100%;
    height: 80px;
    border-radius: 5px;
}

.btn.btn-sm {
    padding: 2px 10px;
}

.btn-blue {
    background: #007AFF;
}

.color-rgba {
    color: rgba(255, 255, 255, 0.5) !important;
}

.w50 {
    width: 50px !important;
}

.wrap {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
}

.child {
    -webkit-box-align: center;
}

.flex1 {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    flex: 1;
}

.flex2 {
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    flex: 2;
}

.icon-map-s {
    background: url(../image/icon-map-s.png) no-repeat;
    background-size: 15px 21px;
    width: 15px;
    height: 21px;
}

.route-line {
    padding: 10px;
}

.route-line li {
    padding-bottom: 10px;
}

.line {
    width: 1px;
    background: #E1E1E1;
    height: 47px;
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 24px;
}

.green {
    color: #2EB42E !important;
}

.btn-green {
    background: #2EB42E;
}

.route-line .fa-check-circle {
    color: #999;
}

.btn-end {
    width: 70px;
    height: 70px;
    background: #FF1D1D;
    border-radius: 50%;
    color: #fff;
    position: fixed;
    right: 15px;
    bottom: 15px;

}

.btn-end[disabled] {
    background: #ccc;
}
.share-box {
    -moz-box-shadow: 2px -2px 5px #969696;
    -webkit-box-shadow: 2px -2px 5px #969696;
    box-shadow: 2px -2px 5px #969696;
    margin: 0 15px 0;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    z-index: 99999;
    background: #fff;
}

.share-box .img-photo {
    width: 50px;
    height: 50px;
}

.btn-white {
    border: 1px solid #00853D;
    background: #fff;
    color: #00853D;
}

.icon-round {
    background: url(../image/icon-round.png) no-repeat;
    width: 16px;
    height: 16px;
    background-size: cover;
}

.mileage-list .line {
    top: 15px;
    height: 63px;
}

.store-link {
    margin: -20px 10px 10px;
    -moz-box-shadow: 2px -2px 5px #969696;
    -webkit-box-shadow: 2px -2px 5px #969696;
    box-shadow: 2px -2px 5px #969696;
    position: relative;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
}

.store-link a {
    border-right: 1px solid #F2F2F2;
}

.store-link a:last-child {
    border: none;
}

.icon-jp {
    background: url(../image/icon-jp.png) no-repeat;
    width: 11px;
    height: 14px;
    background-size: cover;
    vertical-align: middle;
}

.store-pro.mui-table-view .mui-media-object {
    width: 120px;
    height: 80px;
    max-width: 120px;
}

.point-box {
    background: linear-gradient(to bottom right, #67d50b, #10d38f);
    background: -webkit-linear-gradient(left top, #67d50b, #10d38f);
    background: -o-linear-gradient(bottom right, #67d50b, #10d38f);
    background: -moz-linear-gradient(bottom right, #67d50b, #10d38f);
    min-height: 100px;
    padding: 30px 15px 10px;
}

.point-box p {
    color: #666;
}

.no-border .mui-table-view-cell:after, .no-border .mui-table-view:before, .no-border .mui-table-view:after {
    background-color: transparent;
}

.mui-content > .mui-table-view:first-child {
    margin-top: 10px;
}

.ss-table-cell {
    display: table-cell;
    padding: 5px;
    border-bottom: 1px solid #eee;
}

.lable-input-box .ss-table-cell:first-child {
    width: 55px;
    padding-left: 0;
}

.line-box .mui-input-row {
    overflow: visible;
}

.line-box .mui-radio input[type=radio] {
    right: 0;
}

.mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before {
    color: #00853D;
}

.mui-bar-tab {
    background: #fff;
    -moz-box-shadow: 2px -2px 5px #ddd;
    -webkit-box-shadow: 2px -2px 5px #ddd;
    box-shadow: 2px -2px 5px #ddd;
}

.mui-bar-tab .btn-white {
    border: none;
}

.mui-slider-indicator.mui-segmented-control {
    border-bottom: 1px solid #ddd;
}

.border-right {
    border-right: 1px solid #ddd;
}

input, select, textarea {
    font-size: 14px;
}

.mui-input-group .mui-input-row:after {
    left: 0px;
}

.mui-input-group .mui-input-row:after, .mui-table-view-cell:after {
    background-color: #E4E4E4;
}

.mui-input-group:after {
    background-color: transparent;
}

.icon-c {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    background: #00853D;
    color: #FFF;
    font-weight: bold;
}

.text-box {
    padding: 10px;
    color: #666;
    line-height: 1.8em;
}

.text-box img {
    max-width: 100%;
    border-radius: 5px;
}
.rankings .num {
    display: inline-block;
    padding: 0 5px;
    font-size: 16px;
    color: #666;
}

.rankings .img-photo {
    width: 50px;
    height: 50px;
}

.rankings .name, .rankings .btn-dk {
    position: absolute;
    left: 90px;
}

.rankings .name {
    top: 0
}

.rankings .btn-dk {
    bottom: 5px;
    padding: 0 3px;
}

.loading-box {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    background: #fff;
    z-index: 9999;
    overflow: hidden;
}

.loading-con {
    width: 130px;
    height: 130px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -65px 0 0 -65px;
    /*background: rgba(0,0,0,0.3);*/
    border-radius: 10px;
    text-align: center;
    line-height: 130px;
}

.loading-con img {
    width: 100px;
}
.mui-table-view-radio .mui-table-view-cell .mui-navigate-right:after {
    color: #00853D;
}

.arrow-ab {
    padding-right: 20px;
    position: relative;
}

.arrow-ab .fa-angle-right {
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -10px;
}

.login-box {
    margin: 60px 20px 0;
}

.login-box .item {
    border-bottom: 1px solid #31a072;
    padding: 10px;
}

.login-box .mui-input-row label {
    width: 40px;
}

.login-box .mui-input-row label ~ input {
    width: 80%;
    float: left;
}

.login-box .fa {
    font-size: 16px;
    color: #31a072;
    vertical-align: sub;
}

.login-box span.green {
    position: absolute;
    right: 0;
    top: 23px;
    border-left: 1px solid #31a072;
    padding-left: 10px;
    line-height: 14px;
    cursor: pointer;
}

.login-box .btn {
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 25px;
}

.code-box {
    margin: 20px 15px;
}

.code-box-wrap {
    border-radius: 3px;
    border: 1px solid #eee;
    margin-bottom: 20px;
}

.code-box input {
    border: none;
    margin: 0;
    width: 160px;
}

.mui-btn-blue, .mui-btn-primary, input[type=submit] {
    border: 1px solid #00853D;
    background-color: #00853D;
}

.mui-slider .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
    border-bottom: transparent;
    color: #000000;
}

.mui-segmented-control .mui-control-item.mui-active span {
    display: inline-block;
    padding: 0px 5px;
    border-bottom: 3px solid #00853D;
    color: #000;
}

.mui-segmented-control .mui-control-item span {
    color: #999;
}

.scenery-list li {
    padding: 10px;
}

.scenery-list .btn-dk {
    border-radius: 15px;
}

.scenery-list li img {
    width: 100%;
    display: block;
    border-radius: 5px;
    background: #f5f5f5 url(../image/logo.png) no-repeat center;
    background-size: 150px 74px;
}

.scenery-list li p {
    font-size: 16px;
    margin-bottom: 10px;
}

.main-scenery {
    padding: 40px 10px 10px;
    background: url(../image/main-bg.jpg) no-repeat;
    background-size: contain;
    color: #fff;
}

.main-scenery p, .main-scenery a {
    color: #fff;
}

.img-vide-box {
    position: relative;
    /*background: url(../weixin-img/img1.png);
    background-size: cover;*/
}

.img-vide-box video {
    width: 100%;
    height: auto;
    border-radius: 5px;
    background: #000;
}
.img-vide-box .num {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.img-vide-box img {
    width: 100%;
    border-radius: 5px;
    display: block;
}

.vido-box {
    background: #F4F4F4;
    margin: 10px;
    border-radius: 20px;
}

.vido-box.mui-table-view:after, .vido-box.mui-table-view:before {
    background-color: transparent
}

.title-m {
    padding: 10px 10px 10px 20px;
    background: url(../image/border-bg.png) no-repeat 10px 13px;
    background-size: 5px 16px;
    font-size: 15px;
}

.title-m i {
    display: inline-block;
    width: 5px;
    height: 16px;
    border-radius: 5px;
}

.radius-5 {
    border-radius: 5px;
}

.texth6 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    /*height: 156px;*/
}

.texth2 {
    -webkit-line-clamp: 2;
}
.no-border.mui-table-view:before, .no-border.mui-table-view:after {
    background-color: transparent;
}

.btn-star {
    border: 1px solid #E7CEBC;
    color: #E07A2F;
    border-radius: 4px;
    display: inline-block;
    padding: 0px 5px;
    font-size: 12px;
}

.mui-preview-image.mui-fullscreen {
    position: fixed;
    z-index: 20;
    background-color: #000;
}

.mui-preview-header,
.mui-preview-footer {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 10;
}

.mui-preview-header {
    height: 44px;
    top: 0;
}

.mui-preview-footer {
    height: 50px;
    bottom: 0px;
}

.mui-preview-header .mui-preview-indicator {
    display: block;
    line-height: 25px;
    color: #fff;
    text-align: center;
    margin: 15px auto 4;
    width: 70px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    font-size: 16px;
}

.mui-preview-image {
    display: none;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.mui-preview-image.mui-preview-in {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.mui-preview-image.mui-preview-out {
    background: none;
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

.mui-preview-image.mui-preview-out .mui-preview-header,
.mui-preview-image.mui-preview-out .mui-preview-footer {
    display: none;
}

.mui-zoom-scroller {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-backface-visibility: hidden;
}

.mui-zoom {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.mui-slider .mui-slider-group .mui-slider-item img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.mui-android-4-1 .mui-slider .mui-slider-group .mui-slider-item img {
    width: 100%;
}

.mui-android-4-1 .mui-slider.mui-preview-image .mui-slider-group .mui-slider-item {
    display: inline-table;
}

.mui-android-4-1 .mui-slider.mui-preview-image .mui-zoom-scroller img {
    display: table-cell;
    vertical-align: middle;
}

.mui-preview-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

.mui-preview-loading.mui-active {
    display: block;
}

.mui-preview-loading .mui-spinner-white {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    height: 50px;
    width: 50px;
}

.mui-preview-image img.mui-transitioning {
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.banner-title {
    position: absolute;
    font-size: 30px;
    color: #fff;
    width: 63px;
    left: 63px;
    top: 50%;
    margin-top: -35px;
    line-height: 35px;
}

.m-title1 {
    padding: 10px;
    text-align: center;
}

.m-title1 span {
    display: inline-block;
    min-width: 200px;
    margin-top: -10px;
    position: relative;
}

.m-title1 span em {
    background: #fff;
    padding: 5px 15px;
    display: inline-block;
    /* margin-bottom: -40px; */
    position: absolute;
    left: 50%;
    top: -15px;
    margin-left: -47px;
    font-size: 16px;
}

.m-title1.green span {
    border-bottom: 1px solid #4C9D09;
}

.m-title1.green span em {
    color: #4C9D09;
}

.m-title1.orange span {
    border-bottom: 1px solid #FC4F0A;
}

.m-title1.orange span em {
    color: #FC4F0A;
}

.text-box-radius {
    margin-top: -15px;
    position: relative;
    background: #fff;
    border-top-left-radius: 20px;
    z-index: 9;
}

.red {
    color: #E93E3E;
}

.bg-yellow {
    background: #E5BD05;
}

.btn-tip {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 10px;
    padding: 0px 10px;

}

.recommend-box {
    position: relative;
    padding-top: 20px;
}

.recommend-box img {
    width: 100%;
}

.test-re {
    background: #f96422;
    color: #fff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 5px 15px;
}

.special-box {
    border: 1px solid #E1E1E1;
    width: 90%;
    margin: 10px auto;
    padding: 15px 15px 15px 25px;
    position: relative;

}

.special-box .icon-bg {
    background: url(../image/icon-bg.png) no-repeat;
    width: 18px;
    height: 19px;
    display: inline-block;
    position: absolute;
    top: 15px;
    left: -5px;
    background-size: cover;
}

.special-box p {
    color: #999;
}

.line-box .mui-table-view-cell.mui-collapse.mui-active > .mui-navigate-right:after, .mui-table-view-cell.mui-collapse.mui-active > .mui-push-right:after {
    content: '\e581';
}

.line-box .mui-table-view-cell.mui-collapse > .mui-navigate-right:after, .mui-table-view-cell.mui-collapse > .mui-push-right:after {
    content: '\e580';
}

.void .icon {
    background: url(../image/btn-play.png) no-repeat;
    width: 42px;
    height: 42px;
    background-size: cover;
}

.void.stop .icon {
    background: url(../image/icon-stop.png) no-repeat;
    width: 42px;
    height: 42px;
    background-size: cover;
}

.vido-box .mui-table-view-cell.mui-active {
    border-radius: 20px;
}

.mui-icon-help {
    font-size: 18px;
    vertical-align: middle;
}

.area-list li {
    margin: 10px;
    border-radius: 5px;
    background: #fff;
    padding: 10px;
}

.area-list .left {
    border-right: 1px solid #ddd;
    width: 80px;
}

.book-list li {
    border-bottom: 1px solid #EAEAEA;
}

.book-list li span {
    padding: 10px 0;
}

.book-list li span.mui-inline {
    border-bottom: 4px solid #5F94F5;
    white-space: nowrap;
}

.book-list li span.blue {
    border-color: #5F94F5;
}

.book-list li span.red {
    border-color: #F5745F;
}

.book-list li span.green {
    border-color: #43D257;
}

.book-list li span.zi {
    border-color: #EA62E2;
}

.book-list li span.yellow {
    border-color: #F5CA47;
}

.book-list li span.green-light {
    border-color: #52E4D5;
}

.book-list li span.orange {
    border-color: #F59F5F;
}

.book-list li span.blue1 {
    border-color: #7079EE;
}

.refresh {
    position: absolute;
    display: inline-block;
    padding: 10px;
    color: #0E34F6;
    right: -10px;
    top: -10px;
}

.zhufa-table {
    width: 100%;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.zhufa-table th, .zhufa-table td {
    padding: 7px;
}

.zhufa-table th {
    background: #EB6C40;
    color: #fff;
    text-align: left;
}

.zhufa-table td {
    border-bottom: 1px solid #ddd;

}

.zhufa-table tr {
    background: #F6F6F6;
}

.zhufa-table tr.active {
    background: #FDEDE7;
}

.notice {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: #fff;
    
}
.yellow {
    color: #FFEA00;
}

.icon-vr {
    background: url(../image/icon-vr.png) no-repeat;
    width: 24px;
    height: 15px;
    background-size: cover;
}

.icon-bus {
    background: url(../image/icon-bus.png) no-repeat;
    width: 17px;
    height: 20px;
    background-size: cover;
}

.icon-plane {
    background: url(../image/icon-plane.png) no-repeat;
    width: 29px;
    height: 20px;
    background-size: 29px 14px;
}

.icon-ce {
    background: url(../image/icon-ce.png) no-repeat;
    width: 29px;
    height: 22px;
    background-size: 19px 22px;
}

.icon-stores {
    background: url(../image/icon-stores.png) no-repeat;
    width: 20px;
    height: 22px;
    background-size: 20px 19px;
}

.icon-pharmacy {
    background: url(../image/icon-pharmacy.png) no-repeat;
    width: 20px;
    height: 22px;
    background-size: 20px 20px;
}

.icon-car {
    background: url(../image/icon-car.png) no-repeat;
    width: 20px;
    height: 22px;
    background-size: 20px 20px;
}

.icon-home-s {
    background: url(../image/icon-home-s.png) no-repeat;
    width: 18px;
    height: 19px;
    background-size: 18px 19px;
}

.icon-use-s {
    background: url(../image/icon-use-s.png) no-repeat;
    width: 16px;
    height: 19px;
    background-size: 16px 19px;
}

.icon-tousu {
    background: url(../image/icon-tousu.png) no-repeat;
    width: 18px;
    height: 19px;
    background-size: 18px 18px;
}

.service-box .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body {
    color: #666;
}

.service-box .icon {
    margin: 10px 0;
}

.menu-box {
    font-size: 16px;
    width: 160px;
}

.menu-box .icon {
    vertical-align: sub;
    margin-right: 5px;
}

.plane-list li {
    padding: 10px;
    border-bottom: 1px solid #EAEAEA;
}

.plane-box .refresh {
    right: 0;
    top: 0
}

.no-time {
    display: inline-block;
    padding: 0 15px;
    border-bottom: 1px solid #F2F2F2;
}

.vip-box {
    background: #fff;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-top: -20px;
    position: relative;
    z-index: 8;
    padding: 60px 0 0;
}

.vip-logo {
    position: absolute;
    width: 92px;
    height: 92px;
    top: -46px;
    left: 50%;
    margin-left: -46px;
    background-size: cover;
    z-index: 999;
    border-radius: 50%;
}

.jf-btn {
    position: absolute;
    background: #F0F0F0;
    color: #999;
    padding: 2px 10px;
    top: 10px;
    right: 15px;
    border-radius: 5px;
}

.icon-guide {
    background: url(../image/icon-guide.png);
    width: 21px;
    height: 24px;
    background-size: cover;
}

.icon-minsu {
    background: url(../image/icon-minsu.png);
    width: 30px;
    height: 25px;
    background-size: cover;
}

.icon-mp {
    background: url(../image/icon-mp.png);
    width: 27px;
    height: 20px;
    background-size: cover;
}

.icon-line {
    background: url(../image/icon-line.png);
    width: 21px;
    height: 21px;
    background-size: cover;
}

.icon-dt {
    background: url(../image/icon-dt.png);
    width: 17px;
    height: 17px;
    background-size: cover;
}

.icon-tousu-s {
    background: url(../image/icon-tousu-s.png);
    width: 16px;
    height: 18px;
    background-size: cover;
}

.icon-info {
    background: url(../image/icon-info.png);
    width: 16px;
    height: 16px;
    background-size: cover;
}

.icon-stars {
    background: url(../image/icon-stars.png);
    width: 18px;
    height: 17px;
    background-size: cover;
}

.icon-stars {
    background: url(../image/icon-stars.png);
    width: 18px;
    height: 17px;
    background-size: cover;
}

.icon-helps {
    background: url(../image/icon-help-s.png);
    width: 16px;
    height: 15px;
    background-size: cover;
}

.icon-download-s {
    background: url(../image/icon-down.png);
    width: 16px;
    height: 15px;
    background-size: cover;
}

.icon-tel-s {
    background: url(../image/icon-tel-s.png);
    width: 16px;
    height: 15px;
    background-size: cover;
}
.vip-link li {
    padding: 15px;
    background: #F8F8F8;
    border-bottom: 1px solid #fff;
}

.vip-link li .icon {
    vertical-align: sub;
    margin-right: 10px;
}

.foot-menu .icon {
    background: url(../image/foot-icon.svg);
}

.foot-menu .icon-home {
    background: url(../image/foot-home.svg);
}

.foot-menu .mui-active .icon-home, .foot-menu .icon-home:active {
    background: url(../image/foot-home-active.svg) !important;
    opacity: 1;
}

.foot-menu .icon-server {
    background: url(../image/foot-server.svg);
}

.foot-menu .mui-active .icon-server, .foot-menu .icon-server:active {
    background: url(../image/foot-server-active.svg) !important;
    opacity: 1;
}

.foot-menu .icon-me {
    background: url(../image/foot-icon.svg);
}

.foot-menu .mui-active .icon-me, .foot-menu .icon-me:active {
    background: url(../image/foot-me-active.svg) !important;
    opacity: 1;
}

.foot-menu .mui-tab-item.mui-active {
    color: #00853D;
}

.img-photo.w60 {
    width: 60px;
    height: 60px;
}

.bg-green {
    background: #2EB42E;
}

a.active {
    color: #00853D;
}

.text-area {
    padding: 10px;
}

.text-area, .text-area textarea {
    background: #F0F0F0;
}

.text-area textarea {
    border: none;
    background: #F0F0F0;
    padding: 0;
    min-height: 80px;
}

.del-btn1 {
    position: absolute;
    width: 30px;
    height: 30px;
    top: -5px;
    right: -11px;
    font-size: 22px;
}

.file-ul li img {
    width: 60px;
    height: 60px;
    display: block;
}

.file-ul li {
    float: left;
    width: 60px;
    position: relative;
    height: 60px;
    text-align: center;
    margin-right: 15px;
    margin-bottom: 15px;
}

.file-ul input[type='button'], .file-ul input[type='file'] {
    display: block;
    opacity: 0;
    height: 60px;
    width: 60px;
    position: relative;
    z-index: 99;
}

.file-ul .file-btn {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    padding-top: 40px;
    text-align: center;
    background: url(../image/icon-photo.png);
    background-size: cover;
    font-size: 12px;
}

.mui-table-view-chevron .mui-table-view-cell > a:not(.mui-btn) {
    margin-right: -45px;
}

.mui-table-view-chevron .mui-table-view-cell {
    padding-right: 45px;
}

.w90.mui-ellipsis {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.news .mui-media-body {
    padding-top: 3px;
}

.icon-wx {
    background: url(../image/icon-wx.png) no-repeat;
    width: 32px;
    height: 32px;
    background-size: cover;
    margin-right: 10px;
}

.icon-phones {
    background: url(../image/icon-phones.png) no-repeat;
    width: 32px;
    height: 32px;
    background-size: cover;
    margin-right: 10px;
}

.blue {
    color: #0065EF;
}

.verify-btn {
    position: absolute;
    background: #2E84F9;
    border-radius: 2px;
    border: none;
    color: #fff;
    right: 10px;
    top: 17px;
}

.tit2 {
    font-size: 16px;
    padding: 20px 0 20px 20px;
    text-align: center;
    position: relative;
}

.tit2 a.gray {
    position: absolute;
    right: 10px;
    top: 20px;
    font-size: 14px;
}
.tit2-bg1 {
    background: #fff url(../image/tit2-bg1.png) no-repeat center 24px;
    background-size: 133px 13px;
}

.tit2-bg2 {
    background: #fff url(../image/tit2-bg2.png) no-repeat center 24px;
    background-size: 128px 13px;
}

.tit2-bg3 {
    background: #fff url(../image/tit2-bg3.png) no-repeat center 24px;
    background-size: 129px 13px;
}

.hot-modal li {
    text-align: center;
    position: relative;
}

.hot-modal li p {
    position: absolute;
    top: 50%;
    width: 95%;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    margin-top: -15px;
}

.hot-modal li img {
    height: 110px;
}

.grid10 .icon {
    width: 40px;
    height: 40px;
    margin: 10px 0;
}

.icon-mj {
    background: url(../image/icon-mj.png) no-repeat;
    background-size: cover;
}

.icon-ms {
    background: url(../image/icon-ms.png) no-repeat;
    background-size: cover;
}

.icon-meishi {
    background: url(../image/icon-meishi.png) no-repeat;
    background-size: cover;
}

.icon-mgou {
    background: url(../image/icon-mgou.png) no-repeat;
    background-size: cover;
}

.icon-mgou {
    background: url(../image/icon-mgou.png) no-repeat;
    background-size: cover;
}

.icon-vrb {
    background: url(../image/icon-vrb.png) no-repeat;
    background-size: cover;
}

.icon-vrb {
    background: url(../image/icon-vrb.png) no-repeat;
    background-size: cover;
}

.icon-busb {
    background: url(../image/icon-busb.png) no-repeat;
    background-size: cover;
}

.icon-planep {
    background: url(../image/icon-planep.png) no-repeat;
    background-size: cover;
}

.icon-searchb {
    background: url(../image/icon-searchb.png) no-repeat;
    background-size: cover;
}

.grid10 {
    -moz-box-shadow: 1px 0px 5px #ddd;
    -webkit-box-shadow: 1px 0px 5px #ddd;
    box-shadow: 1px -0px 5px #ddd;
    margin: 10px 10px 0;
    border-radius: 5px;
}

.grid10 li {
    float: left;
    width: 20%;
    text-align: center;
    padding: 10px 0;
    border-right: 1px solid #F7F7F7;
    border-bottom: 1px solid #F7F7F7;
}

.btn3 {
    background: #FFE200;
    padding: 2px 8px;
    border-radius: 9px;
    display: inline-block;
    font-size: 12px;
    white-space: nowrap;
}

.play-f {
    padding: 16px 0;
}

@media only screen and (min-width: 100px) and (max-width: 320px) {
    .grid10 li .gray {
        font-size: 12px;
    }

    .swiper-wrapper img {
        height: 150px;
    }
}

.play-li li {
    margin: 0 10px 10px;
    position: relative;
}

.play-li img {
    width: 100%;
    border-radius: 5px;
    display: block;
}

.play-li li p.mui-ellipsis {
    position: absolute;
    width: 100%;
    color: #fff;
    top: 0px;
    padding: 10px;
}

.play-li li .p10 {
    width: 100%;
    position: absolute;
    bottom: 0px;
    color: #fff;
}

.play-li.server p.mui-ellipsis {
    top: 50%;
    margin-top: -20px;
}

.banner-title1, .weather {
    position: absolute;
    bottom: 10px;

}

.banner-title1 {
    left: 15px;
}

.weather {
    right: 15px;
    text-align: right;
}

.banner-title1 p, .weather p {
    color: #fff;
}

.weather img {
    width: 20px;
    display: inline-block;
    vertical-align: sub;
    margin-right: 5px;
}

.margin15-box {
    margin: 20% auto;
    text-align: center;
}

.margin15-box img {
    width: 125px;
}

/*jianguan*/
.img-list {
    padding: 15px 0;
}

.img-list li {
    float: left;
    text-align: center;
    width: 25%;
}

.img-list img {
    width: 60px;
    height: 60px;
    display: inline-block;
}

.btn.width-85 {
    border-radius: 0;
    padding: 12px;
}

.commision {
    margin: 10px;
}

.commision .img-list li {
    width: 25%;
}

.o-title {
    padding-bottom: 10px;
    border-bottom: 1px solid #E4E4E4;
    font-size: 16px;
}

.bg2 {
    background: url(../image/bg2.png) no-repeat;
    background-size: cover;
}

.radius-item {
    background: #fff;
    border-radius: 5px;
    padding: 25px;
}

.radius-item img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.form-item {
    border-bottom: 1px solid #E4E4E4;
    padding: 15px 0;
    background: #fff;
}

.form-item label {
    padding: 0 15px;
    min-width: 86px;
    display: inline-block;
}

/**/
.form-item .w90 {
    padding: 0 10px;
}

.tousu-form .btn-s {
    padding: 2px 10px;
    border-radius: 4px;
    background: #F3F3F3;
    border: 1px solid #989898;
}

.tousu-form .btn-s.active {
    background: #EFFFF6;
    border: 1px solid #00853D;
}

.banner .mui-icon-gear {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 888;
    color: #fff;
    z-index: 8;
}

.form-item input, .form-item textarea {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    height: auto;
}

.form-item textarea {
    min-height: 60px;
}

.tousu-form .form-item {
    background: #fff;
}

.tousu-progress .icon {
    width: 24px;
    height: 24px;
    line-height: 24px;
    background: #bcbcbc;
    color: #fff;
    font-style: normal;
    border-radius: 50%;
}

.tousu-progress .icon-tousu-j {
    background: linear-gradient(to right, #f9b31c, #f77400);
    background: -webkit-linear-gradient(to right, #f9b31c, #f77400);
    background: -o-linear-gradient(to right, #f9b31c, #f77400);
    background: -moz-linear-gradient(top right, #f9b31c, #f77400);
    width: 24px;
    height: 24px;

}

.tousu-progress .line {
    top: 24px;
}

.swiper-wrapper img {
    width: 100%;
    height: 200px;
    background: #f5f5f5 url(../image/logo.png) no-repeat center;
    background-size: 150px 74px;
}

.close .fa-angle-down:before {
    content: "\f106";
}

.swiper-pagination {
    color: #fff;
}

.s-back {
    position: absolute;
    z-index: 9;
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 40px;
}

/* load app*/
.load-bg {
    background: url(../image/load-bg.jpg) no-repeat;
    background-size: cover;
}

.btns {
    color: #444;
    background: #fff;
    border-radius: 25px;
    position: absolute;
    width: 160px;
    padding: 8px 20px;
    text-decoration: none;
    bottom: 120px;
    left: 50%;
    margin-left: -80px;
    font-size: 16px;
    -moz-box-shadow: 2px 2px 5px #B2B8AE;
    -webkit-box-shadow: 2px 2px 5px #B2B8AE;
    box-shadow: 2px 2px 5px #B2B8AE;
}

.btns i {
    background: url(../image/icon.png);
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    display: inline-block;
    vertical-align: middle;
}

.btn2 {
    bottom: 50px;
}

.btn2 i {
    background-position: -38px -4px;
}